<h1 class = "h1"> Hi! </h1>
<h2 class = "h2 mb-5">Select your rol...</h2>
<div class = "row">
    <div class = "col-sm-6 my-2 container-btn-user buyer-btn-c">
        <%= link_to image_tag("buyer.png", :alt => "Buyer icon") + 'Buyer', new_buyer_session_path, :class => 'btn-user'%>
    </div>
    <div class = "col-sm-6 my-2 container-btn-user seller-btn-c">
        <%= link_to image_tag("seller.png", :alt => 'Seller icon', :class => 'icon') + 'Seller', '#', :class => 'btn-user' %>
    </div>
</div>
