.body, .html{
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid{
  position: relative;
}

.logo-navbar{
  border-radius: 50%;
  height: 60px;
  margin-left: 5px;
  margin-right: 10px;
  width: 60px;
}

.navbar{
  background-image: linear-gradient(to left, #f3993a, #f2ab47, #f2bd56, #f1ce69, #f1de7d);
  font-family: 'Questrial', sans-serif;
}

.home-btn{
  color: black;
}

.home-btn:hover{
  color: #f3983a;
  text-decoration: none;
}

.log-out-btn{
  color: black;
}

.log-out-btn:hover{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.logo{
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.login_input_field{
  font-size: .8rem;
  margin: 0 auto;
  width: 400px;
}

.login_input_field .input-group-text{
  font-size: .8rem;
}

.password_label{
  padding-left: 60px;
}

.login_btn{
  background-color: #3e4094;
  color: #FFFFFF;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-style: bold;
}

.h1{
  font-size: 4rem;
}

.h2{
  font-size: 3rem;
  margin-top: 5%;
}

.container-btn-user{
  border-radius: 50px;
  box-sizing: border-box;
  height: 230px;
  margin: 0 auto;
  padding-top: 38px;
  max-width: 230px;
}

//Button buyer container
.buyer-btn-c{
  background-color: #f3993a;
}

//Button seller container
.seller-btn-c{
  background-color: #a2e3fd;
}

.btn-user{
  color: #000000;
  font-size: 2rem;
}

.buyer-btn-c .btn-user:hover{
  color: #a2e3fd;
  text-decoration: none;
}

.seller-btn-c .btn-user:hover{
  color: #f3993a;
  text-decoration: none;
}

.footer{
  border-top: 2px solid #f1de7d;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  font-size: .6rem;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.logo-tec{
  width: 50px;
}

.row{
  margin: 0;
  padding: 0;
}

.icon{
  display: block;
  margin: 0 auto;
}

.card{
  box-sizing: border-box;
  height: 25rem;
  position: relative;
  width: 18rem;
}

.card-text{
  height: 10rem;
}

.card-img-top{
  height: 5rem;
}

@media (min-width: 768px) {
  .container-btn-user{
    height: 300px;
    max-width: 300px;
    padding-top: 70px;
  }
  .btn-user{
    font-size: 3rem;
  }
}
