<div class = "text-left">  
  <%= link_to '< Go back', store_path(@store), class: 'mb-3 back d-inline-block' %>
</div>
<div class="p-2 col-sm-12 col-md-4 center-div">
    <div class="card center-div">
      <div class="card-body">
        <h5 class="card-title">
          <%= @product.name %>
        </h5>
        <div class= 'product-image'>
          <%= image_tag @product.image %>
        </div>
        <p class="card-text">
          <%= @product.price %>
        </p>

      </div>
    </div>
  </div>
</div>
