<% if seller_signed_in? %>
  <nav class="navbar navbar-light">
    <%= link_to image_tag('tec-food.png', class: 'logo-navbar') + 'TecFood', root_path, class: 'home-btn'%>
    <%= link_to 'Log out', destroy_seller_session_path, class: 'log-out-btn', method: :delete %>
  </nav>
<% end  %>
